<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Accelerometer_example2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>67E547C31E7120AB006D5D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E547D71E7120AC006D5D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>67E547E21E7120AC006D5D1E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
